@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(41, 41, 41);
}

.container{
    width: 100%;
    max-width: 550px;
    background: linear-gradient(135deg, gray, rgb(76, 76, 76));
    color: #fff;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_bar input{
    border: 0;
    outline: 0;
    background: black;
    color: white;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}

.search_bar input::placeholder{
    color: white;
}

.search_bar button{
    border: 0;
    outline: 0;
    background: black;
    border-radius: 50%;
    width: 60px;
    font-size: 19px;
    height: 60px;
    cursor: pointer;
}

.weather-icon{
    width: 170px;
    margin-top: 0px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin: 0;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin: 0;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind, .visibility{
    font-size: 20px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

footer{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

footer a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.2s ease-in-out;
}

footer a:hover{
    color: white;
}

/* Making it responsive for mobile screens */

@media only screen and (max-width: 600px) {

    .container{
        width: 100%;
        max-width: 350px;
        margin: 20px auto;
        padding: 10px 5px;
    }
    
    .search_bar{
        width: 100%;
    }
    
    .search_bar input{
        padding: 3px 10px;
        height: 40px;
        margin-right: 2px;
        font-size: 13px;
    }
    
    .search_bar button{
        width: 40px;
        font-size: 13px;
        height: 40px;
    }

    .search_bar button img{
        height: 20px;
    }

    .col img{
        width: 23px;
        margin-right: 2px;
    }

    .humidity, .wind, .visibility{
        font-size: 18px;
    }

    .col{
        margin: 0 2px;
        font-size: 9px;
    }

    footer{
        margin-left: 0;
        position: relative;
        bottom: 0;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
    }
}